.filters { display: flex; flex-direction: row; justify-content: space-between; padding: 10px 10px 20px; }
.filters__filter-container { display: flex; }
.filters__label { margin-right: 10px;}
.filters__filter { padding: 0 20px; }
.filters__filter select { text-transform: capitalize; }